[submodule "Poolium"]
	path = Poolium
	url = https://github.com/Xobtah/Poolium.git
[submodule "Basium"]
	path = Basium
	url = https://github.com/Xobtah/Basium.git
[submodule "Emitium"]
	path = Emitium
	url = https://github.com/Xobtah/Emitium.git
